<!--右侧导航-->
<section id="sidebar">
    <h2 title="Categories">世界八大艺术之一</h2>
    <div class="sb-c">
        <p class="testimonial">
            古代音、乐有别。《礼记·乐记》：“凡音之起，由人心生也。人心之动，物使之然也，感於物而动，故形於声。声相应，故生变，变成方，谓之音。比音而乐之，及干戚、羽旄，谓之乐”。后浑称“音乐”，指用有组织的乐音表达人们的思想感情、反映社会生活的一种艺术。《三国·吴志·周瑜传》：“ 瑜 少精意於音乐，虽三爵之后，其有阙误， 瑜 必知之，知之必顾”。《前汉书平话》卷下：“帝至棘门 ，左翼将 徐迈 以音乐迎之，送帝至 霸陵桥 上”。 温承训 《动人的音乐》诗：“真的，音乐是人们感情的语言”。
            <span>——百度百科</span>
        </p>
    </div>
    <h2 title="Categories">历史发展</h2>
    <div class="sb-c">
        <ul>
            <li><a href="https://baike.baidu.com/item/%E9%9F%B3%E4%B9%90/61907?fr=aladdin#2" target="_blank">西方音乐</a></li>
            <li><a href="https://baike.baidu.com/item/%E9%9F%B3%E4%B9%90/61907?fr=aladdin#3" target="_blank">中国音乐</a></li>
            <li><a href="https://baike.baidu.com/item/%E9%9F%B3%E4%B9%90/61907?fr=aladdin#4" target="_blank">主要乐器</a></li>
            <li><a href="https://baike.baidu.com/item/%E9%9F%B3%E4%B9%90/61907?fr=aladdin#5" target="_blank">基本含义</a></li>
            <li><a href="https://baike.baidu.com/item/%E9%9F%B3%E4%B9%90/61907?fr=aladdin#6" target="_blank">基本分类</a></li>
            <li><a href="https://baike.baidu.com/item/%E9%9F%B3%E4%B9%90/61907?fr=aladdin#7" target="_blank">基本要素</a></li>
            <li><a href="https://baike.baidu.com/item/%E9%9F%B3%E4%B9%90/61907?fr=aladdin#8" target="_blank">记谱方法</a></li>
        </ul>
    </div>
</section>
<div class="clear"></div>